In [1]:
import pandas as pd

df1 = pd.read_csv('08_stemmed.csv')
df = pd.read_csv('2700_stemmed.csv')

df = pd.concat([df, df1])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8344 entries, 0 to 5561
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      8344 non-null   int64
 1   created_at               8344 non-null   object
 2   favorite_count           8344 non-null   int64
 3   full_text                8344 non-null   object
 4   id_str                   8344 non-null   int64
 5   image_url                2141 non-null   object
 6   in_reply_to_screen_name  4202 non-null   object
 7   lang                     8344 non-null   object
 8   location                 0 non-null      float64
 9   quote_count              8344 non-null   int64
 10  reply_count              8344 non-null   int64
 11  retweet_count            8344 non-null   int64
 12  tweet_url                8344 non-null   object
 13  user_id_str              8344 non-null   int64
 14  username                 2782 non-null   object
 15  label                    8344 non-null   object
 16  text_processed1          8341 non-null   object
dtypes: float64(1), int64(7), object(9)
memory usage: 1.1+ MB

In [2]:
df_negatif = df[df['label'] == 'positif']
df_lainnya = df[df['label'] != 'positif']

df_negatif_tersisa = df_negatif.sample(n=len(df_negatif) - 1000, random_state=42)

df = pd.concat([df_negatif_tersisa, df_lainnya], ignore_index=True)

print(df['label'].value_counts())

label
positif    2856
negatif    2843
netral     1644
campur        1
Name: count, dtype: int64

In [3]:
df = df.rename(columns={'text_processed1': 'text_processed'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7344 entries, 0 to 7343
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      7344 non-null   int64
 1   created_at               7344 non-null   object
 2   favorite_count           7344 non-null   int64
 3   full_text                7344 non-null   object
 4   id_str                   7344 non-null   int64
 5   image_url                1907 non-null   object
 6   in_reply_to_screen_name  3784 non-null   object
 7   lang                     7344 non-null   object
 8   location                 0 non-null      float64
 9   quote_count              7344 non-null   int64
 10  reply_count              7344 non-null   int64
 11  retweet_count            7344 non-null   int64
 12  tweet_url                7344 non-null   object
 13  user_id_str              7344 non-null   int64
 14  username                 2649 non-null   object
 15  label                    7344 non-null   object
 16  text_processed           7341 non-null   object
dtypes: float64(1), int64(7), object(9)
memory usage: 975.5+ KB

In [4]:
df.loc[df['label'] == 'campur', 'label'] = 'positif'

In [6]:
df.to_csv('dataset_prabowo.csv', index=False)

In [8]:
df['bulan'] = pd.to_datetime(df['created_at'], errors='coerce')
# Ambil bulan dan tahun unik
df['bulan'] = df['bulan'].dt.to_period('M')
df['bulan'].unique()

C:\Users\akmal\AppData\Local\Temp\ipykernel_24500\668359994.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['bulan'] = pd.to_datetime(df['created_at'], errors='coerce')
C:\Users\akmal\AppData\Local\Temp\ipykernel_24500\668359994.py:3: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['bulan'] = df['bulan'].dt.to_period('M')

<PeriodArray>
['2025-01', '2025-02', '2025-03', '2025-04', '2024-12']
Length: 5, dtype: period[M]

In [9]:
from collections import Counter
import re

df_positif = df[df['label'] == 'positif'].copy()  

text = ' '.join(df_positif['text_processed'].astype(str))

words = re.findall(r'\b\w+\b', text.lower())

freq = Counter(words)

top_50 = freq.most_common(150)

for word, count in top_50:
    print(f"{word}: {count}")

prabowo: 2992
kerja: 2792
kabinet: 1355
bagus: 875
rakyat: 690
presiden: 620
puas: 553
gibran: 538
menteri: 532
indonesia: 434
masyarakat: 414
kinerjaprabowoterbukti: 349
perintah: 331
nyata: 322
survei: 314
hasil: 265
publik: 263
sejahtera: 259
bikin: 246
harikerjanyata: 227
visi: 208
apresiasi: 198
bijak: 192
positif: 179
bukti: 171
program: 167
dukung: 161
tingkat: 151
fokus: 150
adil: 144
gratis: 139
maju: 139
keras: 138
subianto: 135
sehat: 135
bawa: 118
makmur: 111
langkah: 109
pimpin: 108
tuh: 104
wujud: 99
ubah: 99
sukses: 98
banget: 91
baik: 90
capai: 87
hidup: 85
nilai: 85
percaya: 84
kasih: 84
danantara: 79
ekonomi: 78
semangat: 77
indikator: 75
harap: 74
persen: 73
merah: 72
jalan: 71
langsung: 70
putih: 70
makan: 69
cek: 66
bangun: 66
negara: 65
komitmen: 65
kuat: 65
rasa: 64
dampak: 64
orang: 62
moga: 62
bangsa: 60
penuh: 60
kompas: 59
dasar: 58
cipta: 58
mayoritas: 57
politik: 56
aksi: 55
mbg: 54
utama: 54
polri: 53
bumn: 53
jokowi: 50
juang: 49
gizi: 49
tuju: 49
tim: 46
litbang: 45
prioritas: 45
aman: 45
hukum: 45
puji: 45
dapet: 45
bahagia: 44
manfaat: 44
hadir: 43
haris: 43
butuh: 42
usaha: 42
yocku: 42
warga: 41
bangga: 41
terima: 39
cepat: 39
negeri: 38
sosial: 38
optimis: 38
milik: 38
paham: 37
desa: 37
gaspol: 36
anak: 36
solid: 36
baru: 35
wakil: 35
jayapura: 35
ambil: 35
salah: 34
evaluasi: 34
kenal: 33
top: 33
salut: 33
berkat: 32
janji: 32
tunjuk: 32
mudah: 31
hati: 31
presidenprabowo: 31
rumah: 31
bener: 31
tinggi: 31
lanjut: 31
rakabuming: 30
bandung: 30
henti: 30
bantu: 30
mantap: 29
guys: 29
arah: 29
tugas: 29
happy: 29
solusi: 29
keren: 29
responden: 28
inspirasi: 28
jaga: 28
target: 28
beliau: 28
sambut: 27
kayak: 27

In [10]:
from collections import Counter
import re

df_positif = df[df['label'] == 'negatif'].copy()  

text = ' '.join(df_positif['text_processed'].astype(str))

words = re.findall(r'\b\w+\b', text.lower())

freq = Counter(words)

top_50 = freq.most_common(150)

for word, count in top_50:
    print(f"{word}: {count}")

prabowo: 3182
kerja: 1974
presiden: 549
rakyat: 479
perintah: 348
jokowi: 311
menteri: 308
orang: 284
negara: 242
kalo: 215
puas: 207
gibran: 206
indonesia: 194
preman: 172
jabat: 159
hasil: 150
buruk: 140
kabinet: 139
masyarakat: 136
nilai: 123
pilih: 120
omon: 118
tri: 115
anak: 106
ganti: 104
bikin: 102
hukum: 102
percaya: 102
biar: 101
pimpin: 100
korupsi: 100
mulyono: 99
tni: 98
evaluasi: 97
udah: 96
polisi: 96
dukung: 95
publik: 94
bijak: 92
kritik: 88
survei: 88
salah: 86
bilang: 85
polri: 84
kuasa: 83
tau: 81
ormas: 79
tolong: 79
bukti: 78
bayar: 71
pecat: 70
negeri: 69
survey: 69
emang: 68
anggar: 67
bagus: 66
gimana: 65
banget: 64
bantu: 64
harap: 64
turun: 64
gaji: 63
berani: 62
kasih: 62
asn: 61
tingkat: 61
tunjang: 61
rusak: 59
ijazah: 58
malu: 57
hina: 56
program: 56
baik: 54
lihat: 54
hidup: 53
tuh: 53
makan: 53
nama: 53
ekonomi: 53
coba: 52
gin: 52
buzzer: 52
kayak: 51
takut: 51
hercules: 51
bangsa: 51
harga: 49
wapres: 49
mohon: 49
uang: 49
rezim: 49
gagal: 49
politik: 49
nyata: 48
mantan: 48
jalan: 48
langsung: 48
adil: 47
palsu: 47
anies: 47
liat: 47
tolol: 46
ganggu: 46
susah: 46
jelek: 46
lembaga: 45
bener: 44
laku: 44
koruptor: 43
kalah: 43
sesuai: 43
bawa: 43
kapolri: 43
kepala: 42
gas: 42
beliau: 42
bpk: 41
bawah: 41
urus: 41
butuh: 41
atur: 41
efisiensi: 41
masuk: 40
kali: 40
bahlil: 40
bumn: 40
kaya: 39
dah: 39
kompas: 39
gaduh: 38
terima: 38
mana: 38
hati: 38
citra: 38
sampe: 38
dosen: 38
bubar: 37
kau: 37
moga: 37
skrg: 37
era: 37
tindak: 36
berita: 36
tunggu: 36
diam: 36
mata: 36
demo: 36
subianto: 35
tegak: 35
aparat: 35

In [11]:
from collections import Counter
import re

df_positif = df[df['label'] == 'netral'].copy()  

text = ' '.join(df_positif['text_processed'].astype(str))

words = re.findall(r'\b\w+\b', text.lower())

freq = Counter(words)

top_50 = freq.most_common(150)

for word, count in top_50:
    print(f"{word}: {count}")

prabowo: 1739
tppbersamamenteridesa: 1065
merah: 732
putih: 731
kerja: 729
bentuk: 693
koperasi: 688
musdesus: 639
presiden: 307
perintah: 228
gibran: 214
menteri: 170
subianto: 128
puas: 109
nilai: 107
survei: 100
kabinet: 78
publik: 78
evaluasi: 73
indonesia: 66
hasil: 64
desa: 63
kait: 52
jokowi: 51
dukung: 50
bumn: 50
rakyat: 46
program: 43
masyarakat: 41
politik: 40
polri: 37
pimpin: 37
kompas: 37
bijak: 36
tunjang: 35
ekonomi: 34
capai: 33
direksi: 33
tni: 32
tingkat: 31
litbang: 31
jabat: 30
danantara: 29
dasar: 29
rakabuming: 29
kepala: 28
pilih: 28
kalo: 27
wakil: 27
ganti: 26
januari: 26
negara: 24
temu: 24
orang: 23
lapor: 23
ketua: 23
raka: 23
istana: 22
media: 22
data: 22
rilis: 22
reshuffle: 21
asn: 21
bicara: 20
baik: 20
adadikompas: 20
kapolri: 19
jajar: 19
berita: 18
anies: 18
responden: 18
hadir: 17
buka: 17
sri: 17
mulyani: 17
bilang: 17
sesuai: 17
kritik: 17
lembaga: 17
dapat: 16
buruh: 16
grib: 16
baca: 16
buruk: 16
nyata: 16
salah: 16
uang: 16
khusus: 16
harap: 16
sorot: 16
simak: 16
thr: 16
amat: 16
apresiasi: 16
wib: 16
polisi: 15
rapat: 15
jakarta: 15
dpr: 15
kuat: 15
wapres: 15
news: 15
menko: 15
makan: 15
gratis: 15
diskusi: 15
bukti: 14
tuju: 14
kasih: 14
nasional: 14
sosial: 14
survey: 14
tugas: 14
anggar: 14
partai: 14
presidenprabowo: 14
percaya: 13
purnawirawan: 13
pangan: 13
lengkap: 13
terima: 13
beliau: 13
target: 13
juta: 13
jalan: 13
didik: 13
puji: 13
musdessus: 13
bahas: 13
bidang: 13
april: 13
respons: 13
indikator: 13
maret: 13
jenderal: 12
resmi: 12
jadi: 12
harga: 12
gimana: 12
tppbersamamentridesa: 12
cepat: 12
lantik: 12
korupsi: 12
komunikasi: 12
daerah: 12
prabowosubianto: 12
riset: 12
dasco: 12
kontroversi: 12
tukin: 12

# prabowo_3month.csv 
dataset prabowo bulan desember, februari, maret, tanpa image

In [31]:
import pandas as pd

df_desember = pd.read_csv('dataset/-/df_prabowo_desember_2024.csv', delimiter=';')
df_desember.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      829 non-null    object
 1   created_at               829 non-null    object
 2   favorite_count           829 non-null    int64
 3   full_text                829 non-null    object
 4   id_str                   829 non-null    object
 5   image_url                578 non-null    object
 6   in_reply_to_screen_name  93 non-null     object
 7   lang                     829 non-null    object
 8   location                 457 non-null    object
 9   quote_count              829 non-null    int64
 10  reply_count              829 non-null    int64
 11  retweet_count            829 non-null    int64
 12  tweet_url                829 non-null    object
 13  user_id_str              829 non-null    object
 14  username                 829 non-null    object
dtypes: int64(4), object(11)
memory usage: 97.3+ KB

In [32]:
df_desember = df_desember[df_desember['image_url'].isnull()]
df_desember.info()

<class 'pandas.core.frame.DataFrame'>
Index: 251 entries, 0 to 827
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      251 non-null    object
 1   created_at               251 non-null    object
 2   favorite_count           251 non-null    int64
 3   full_text                251 non-null    object
 4   id_str                   251 non-null    object
 5   image_url                0 non-null      object
 6   in_reply_to_screen_name  78 non-null     object
 7   lang                     251 non-null    object
 8   location                 153 non-null    object
 9   quote_count              251 non-null    int64
 10  reply_count              251 non-null    int64
 11  retweet_count            251 non-null    int64
 12  tweet_url                251 non-null    object
 13  user_id_str              251 non-null    object
 14  username                 251 non-null    object
dtypes: int64(4), object(11)
memory usage: 31.4+ KB

In [33]:
df_desember.head()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,"1,86824E+18",Sun Dec 15 23:10:23 +0000 2024,319,@tvOneNews Inilah derita rakyat Indonesia pak ...,"1,86843E+18",NaN,tvOneNews,in,"DKI Jakarta, IndonesiaðŸ‡²ðŸ‡¨",1,11,21,https://x.com/ommi_siregar/status/186843345433...,"1,42979E+18",ommi_siregar
4,"1,86828E+18",Sun Dec 15 14:07:35 +0000 2024,364,@DokterTifa Pak @prabowo Anda Boleh Diam &amp;...,"1,8683E+18",NaN,DokterTifa,in,NaN,0,15,44,https://x.com/MMehonx/status/1868296853688885521,"1,64246E+18",MMehonx
14,"1,86793E+18",Sun Dec 15 02:36:47 +0000 2024,772,@jokowi Sy perhatiin sejak Prabowo presiden an...,"1,86812E+18",NaN,jokowi,in,NaN,3,14,60,https://x.com/kfin_klin/status/186812300865067...,417513804,kfin_klin
18,"1,86795E+18",Sat Dec 14 14:57:17 +0000 2024,204,Wacana pemilihan kepala daerah melalui DPRD ad...,"1,86795E+18",NaN,NaN,in,NaN,102,783,23,https://x.com/Dahnilanzar/status/1867946973837...,194987317,Dahnilanzar
22,"1,86786E+18",Sat Dec 14 09:29:04 +0000 2024,122,Pak Prabs @prabowo Dengan alasan biaya mahal j...,"1,86786E+18",NaN,NaN,in,"Dalem Kabagongan, Krg Kedempel",3,44,24,https://x.com/RagilSemar/status/18678643721834...,"1,33407E+18",RagilSemar

In [34]:
df_februari = pd.read_csv('dataset/-/df_prabowo_februari_2025.csv', delimiter=';')
df_februari.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      864 non-null    object
 1   created_at               864 non-null    object
 2   favorite_count           864 non-null    int64
 3   full_text                864 non-null    object
 4   id_str                   864 non-null    object
 5   image_url                542 non-null    object
 6   in_reply_to_screen_name  147 non-null    object
 7   lang                     864 non-null    object
 8   location                 512 non-null    object
 9   quote_count              864 non-null    int64
 10  reply_count              864 non-null    int64
 11  retweet_count            864 non-null    int64
 12  tweet_url                864 non-null    object
 13  user_id_str              864 non-null    object
 14  username                 864 non-null    object
dtypes: int64(4), object(11)
memory usage: 101.4+ KB

In [35]:
df_februari = df_februari[df_februari['image_url'].isnull()]
df_februari.info()

<class 'pandas.core.frame.DataFrame'>
Index: 322 entries, 1 to 856
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      322 non-null    object
 1   created_at               322 non-null    object
 2   favorite_count           322 non-null    int64
 3   full_text                322 non-null    object
 4   id_str                   322 non-null    object
 5   image_url                0 non-null      object
 6   in_reply_to_screen_name  117 non-null    object
 7   lang                     322 non-null    object
 8   location                 190 non-null    object
 9   quote_count              322 non-null    int64
 10  reply_count              322 non-null    int64
 11  retweet_count            322 non-null    int64
 12  tweet_url                322 non-null    object
 13  user_id_str              322 non-null    object
 14  username                 322 non-null    object
dtypes: int64(4), object(11)
memory usage: 40.2+ KB

In [36]:
df_februari.describe()

       favorite_count  quote_count  reply_count  retweet_count
count      322.000000   322.000000   322.000000     322.000000
mean      1611.919255    40.000000   118.807453     375.378882
std       4526.240351   142.886618   290.744570    1250.926958
min         57.000000     0.000000     0.000000       0.000000
25%        192.250000     1.000000     7.000000      29.250000
50%        400.000000     5.500000    26.500000      62.500000
75%        906.750000    21.000000   105.500000     196.750000
max      46034.000000  1817.000000  2915.000000   13964.000000

In [37]:
df_maret = pd.read_csv('dataset/-/df_prabowo_maret_2025.csv', delimiter=';')
df_maret.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      714 non-null    int64
 1   created_at               714 non-null    object
 2   favorite_count           714 non-null    int64
 3   full_text                714 non-null    object
 4   id_str                   714 non-null    int64
 5   image_url                360 non-null    object
 6   in_reply_to_screen_name  221 non-null    object
 7   lang                     714 non-null    object
 8   location                 0 non-null      float64
 9   quote_count              714 non-null    int64
 10  reply_count              714 non-null    int64
 11  retweet_count            714 non-null    int64
 12  tweet_url                714 non-null    object
 13  user_id_str              714 non-null    int64
 14  username                 714 non-null    object
dtypes: float64(1), int64(7), object(7)
memory usage: 83.8+ KB

In [38]:
df_maret = df_maret[df_maret['image_url'].isnull()]
df_maret.info()

<class 'pandas.core.frame.DataFrame'>
Index: 354 entries, 0 to 712
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      354 non-null    int64
 1   created_at               354 non-null    object
 2   favorite_count           354 non-null    int64
 3   full_text                354 non-null    object
 4   id_str                   354 non-null    int64
 5   image_url                0 non-null      object
 6   in_reply_to_screen_name  190 non-null    object
 7   lang                     354 non-null    object
 8   location                 0 non-null      float64
 9   quote_count              354 non-null    int64
 10  reply_count              354 non-null    int64
 11  retweet_count            354 non-null    int64
 12  tweet_url                354 non-null    object
 13  user_id_str              354 non-null    int64
 14  username                 354 non-null    object
dtypes: float64(1), int64(7), object(7)
memory usage: 44.2+ KB

In [39]:
df_maret.describe()

,conversation_id_str,favorite_count,id_str,location,quote_count,reply_count,retweet_count,user_id_str
count,3.540000e+02,354.000000,3.540000e+02,0.0,354.000000,354.000000,354.000000,3.540000e+02
mean,1.898411e+18,1292.480226,1.902949e+18,NaN,60.288136,51.211864,277.200565,8.440033e+17
std,8.428634e+16,7415.538658,1.841835e+15,NaN,394.042047,190.307349,1765.435456,7.361125e+17
min,3.174233e+17,12.000000,1.899642e+18,NaN,0.000000,0.000000,0.000000,1.712898e+07
25%,1.901866e+18,47.250000,1.901899e+18,NaN,0.000000,1.000000,5.000000,2.481702e+08
50%,1.902775e+18,93.500000,1.902927e+18,NaN,1.000000,4.000000,13.000000,1.049864e+18
75%,1.904098e+18,301.500000,1.904139e+18,NaN,5.000000,20.250000,42.750000,1.555313e+18
max,1.906477e+18,112818.000000,1.906496e+18,NaN,4751.000000,2642.000000,26006.000000,1.896226e+18

In [40]:
df = pd.concat([df_maret, df_februari, df_desember], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 927 entries, 0 to 926
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      927 non-null    object
 1   created_at               927 non-null    object
 2   favorite_count           927 non-null    int64
 3   full_text                927 non-null    object
 4   id_str                   927 non-null    object
 5   image_url                0 non-null      object
 6   in_reply_to_screen_name  385 non-null    object
 7   lang                     927 non-null    object
 8   location                 343 non-null    object
 9   quote_count              927 non-null    int64
 10  reply_count              927 non-null    int64
 11  retweet_count            927 non-null    int64
 12  tweet_url                927 non-null    object
 13  user_id_str              927 non-null    object
 14  username                 927 non-null    object
dtypes: int64(4), object(11)
memory usage: 108.8+ KB

In [41]:
df.to_csv('prabowo_3month.csv', index=False)

In [42]:
df1 = pd.read_csv('dataset_prabowo.csv')
df = pd.concat([df, df1], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8271 entries, 0 to 8270
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      8271 non-null   object
 1   created_at               8271 non-null   object
 2   favorite_count           8271 non-null   int64
 3   full_text                8271 non-null   object
 4   id_str                   8271 non-null   object
 5   image_url                1907 non-null   object
 6   in_reply_to_screen_name  4169 non-null   object
 7   lang                     8271 non-null   object
 8   location                 343 non-null    object
 9   quote_count              8271 non-null   int64
 10  reply_count              8271 non-null   int64
 11  retweet_count            8271 non-null   int64
 12  tweet_url                8271 non-null   object
 13  user_id_str              8271 non-null   object
 14  username                 3576 non-null   object
 15  label                    7344 non-null   object
 16  text_processed           7341 non-null   object
dtypes: int64(4), object(13)
memory usage: 1.1+ MB

In [44]:
df = pd.read_csv('prabowo_3month.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 927 entries, 0 to 926
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      927 non-null    object
 1   created_at               927 non-null    object
 2   favorite_count           927 non-null    int64
 3   full_text                927 non-null    object
 4   id_str                   927 non-null    object
 5   image_url                0 non-null      float64
 6   in_reply_to_screen_name  385 non-null    object
 7   lang                     927 non-null    object
 8   location                 343 non-null    object
 9   quote_count              927 non-null    int64
 10  reply_count              927 non-null    int64
 11  retweet_count            927 non-null    int64
 12  tweet_url                927 non-null    object
 13  user_id_str              927 non-null    object
 14  username                 927 non-null    object
dtypes: float64(1), int64(4), object(10)
memory usage: 108.8+ KB

In [43]:
df.duplicated().sum()

0